.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;

  &__inner {
    position: relative;
    padding: 40px;
    width: 500px;
    border-radius: 5px;
    background-color: $color-white;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 15px;
    color: $color-title;
  }

  &__descr {
    text-align: center;
    font-weight: 300;
  }
}

.form {
  &__input {
    width: 100%;
    padding: 20px;
    border: 1px solid $color-text;
    border-radius: 50px;
    margin-bottom: 20px;
  }

  &__btn {
    color: #ffffff;
    background-color: #db3734;
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__politics {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
}
