.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;

  &__inner {
    position: relative;
    padding: 40px;
    width: 500px;
    border-radius: 5px;
    background-color: $color-white;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 15px;
    color: $color-title;
  }

  &__descr {
    text-align: center;
    font-weight: 300;
  }
}
