// global
$container-width: 1160;
$container-padding: 40;

// colors
$color-white: #fff;

$color-text: #171717;
$color-title: #303030;

$color-primary: #db3734;
$color-primary-dark: #dc1815;

// fonts
$font-family-primary: 'NotoSans', sans-serif;
$font-size-regular: 16px;
