// global
$container-width: 1160;
$container-padding: 40;

// colors
$color-white: #fff;

$color-text: #444;
$color-text-light: #555;
$color-text-dark: #222;

$color-primary: #73a337;
$color-primary-light: #8cc14c;
$color-primary-dark: #587d2a;
$color-secondary: #fc8507;

// fonts
$font-family-primary: 'NotoSans', sans-serif;
$font-size-regular: 16px;
